{% extends "livescore/base.html" %}
{% load bootstrap5 %}
<!-- Load CSS and JavaScript -->
{% bootstrap_css %}
{% bootstrap_javascript %}


{% block title %}
Team Analysis
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="team-details text-center p-3 bg-primary text-white">
                <img src="{{ home_team.crest }}" alt="{{ home_team.shortName }} Crest" class="img-fluid">
                <h3 class="mt-3">{{ home_team.name }}</h3>
                <ul class="list-unstyled">
                    {% if home_team_players %}
                    {% for player in home_team_players %}
                    <li>{{ player }}</li>
                    {% endfor %}
                    {% else %}
                    <li>No players available</li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center p-3 bg-secondary">
                <h1 class="score display-4">{% if score.fullTime %}{{ score.fullTime.home }}-{{ score.fullTime.away }}{% endif %}</h1>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="team-details text-center p-3 bg-primary text-white">
                <img src="{{ away_team.crest }}" alt="{{ away_team.shortName }} Crest" class="img-fluid">
                <h3 class="mt-3">{{ away_team.name }}</h3>
                <ul class="list-unstyled">
                    {% if away_team_players %}
                    {% for player in away_team_players %}
                    <li>{{ player }}</li>
                    {% endfor %}
                    {% else %}
                    <li>No players available</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}